
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron home home-fullscreen" id="home">
    <div class="mask"></div>
    <a href="#" class="logo">
        <img src="~/Content/IMG/96x96.png" alt="Moderno - Theme by GraphBerry.com">
    </a>
    <a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
    <!-- Offsite navigation -->
    <div class="container">
        <div class="header-info">
            <h1>ШУМОЗАЩИТНО КОДИРАНЕ</h1>
            <p>
                кодиране на информацията с цел с запазването и при предаването в каналите за връзка.
            </p>
            <a href="/Coding/Coding" class="btn btn-primary">ОЩЕ>></a>
        </div>
    </div>
</div>

<section id="portfolio" class="darker">
    <div class="container">
        <header>
            <h2>Вупроси</h2>
        </header>
        <div id="single-project"></div>
        <div class="row">
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Метод на Шенън-Фано" />
                <figcaption class="mask">
                    <i id="ShanonFano" class="glyphicon glyphicon-plus">
                    </i>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Метод на Хъфман" />
                <figcaption class="mask">
                    <a href="~/Views/_TestProject.cshtml">
                        <i id="Hufman" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Спектър на линеен код" />
                <figcaption class="mask">
                    <i id="LinearCodes" class="glyphicon glyphicon-plus"></i>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Систематична форма, Гаус-Жордан и определяне на проверовъчна матрица" />
                <figcaption class="mask">
                    <a href="~/Views/_TestProject.cshtml">
                        <i id="SystematicForm" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Систематично декодиране" />
                <figcaption class="mask">
                    <a href="~/Views/_TestProject.cshtml">
                        <i id="SystematicallyDecoding" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Декодиране с код на Хеминг" />
                <figcaption class="mask">
                    <a href="~/Views/_TestProject.cshtml">
                        <i id="Hemming" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Декодер на Мегит" />
                <figcaption class="mask">
                    <a href="projects/project-1.html">
                        <i id="Meggitt" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
            <figure class="portfolio-item col-md-4 col-sm-6">
                <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Кодове на Рийд Мулер" />
                <figcaption class="mask">
                    <a href="projects/project-1.html">
                        <i id="ReedMuller" class="glyphicon glyphicon-plus"></i>
                    </a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>
<!-- Contact section end -->
<!-- Footer start -->

