
@{
    ViewBag.Title = "ShortDetails";
    Layout = null;
}

<div class="project" style="margin-right:2.5%;">
    <div class="row">
        <div class="col-md-6">
            <img src="../Content/IMG/Ham.png" class="img-responsive">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Код на Хеминг</h3>
            <p align="justify">
                Кодовете на Hamming са фамилиякодове за корекции на единични грешки. Това са линейни кодове върху крайно поле GF(q). Бинарните Hamming кодове се дефинират с тяхната проверочна матрица...
                </p>
                <br />
            <a id="HemmingTheory" href="~/Hemming/Theory" class="btn btn-primary">Теория</a>
            <a id="HemmingExample" href="~/Hemming/Example" class="btn btn-primary">Пример</a>
                <br />
                <br />
        </div>
    </div>
</div>
