
@{
    ViewBag.Title = "LinearCodesExample";
}

<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moredno Html theme by GraphBerry.com</title>

    <!-- Load fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../Content/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="jumbotron home home-fullscreen" id="home">
        <div class="mask"></div>
        <a href="#" class="logo">
            <img src="~/Content/IMG/96x96.png" alt="Moderno - Theme by GraphBerry.com">
        </a>
        <!-- Offsite navigation -->
        <div class="container">
            <div class="header-info">
                <h1>ШУМОЗАЩИТНО КОДИРАНЕ</h1>
                <p>
                    кодиране на информацията с цел с запазването и при предаването в каналите за връзка.
                </p>
                <a href="/Coding/Coding" class="btn btn-primary">ОЩЕ>></a>
            </div>
        </div>
    </div>
    <!-- Services section end -->
    <!-- Portfolio section start -->
    <section id="portfolio" class="darker">
        <div class="container">
            <header>
                <h2>ПРИЛОЖЕНИЕ</h2>
            </header>
        </div>
        <div id="single-project"></div>
        <div class="row">
            <div class="container">
                <div class="col-md-6 text-xs-right">
                    <div class="panel panel-info">
                        <div class="panel-heading">Входни данни</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label">Избери файл</label>
                                <input id="input-4" name="input4[]" type="file" multiple class="file-loading">
                                <br />
                                <input type="submit" class="btn btn-primary" value="Напред" />
                            </div>
                            <script>
                                $(document).on('ready', function () {
                                    $("#input-4").fileinput({ showCaption: false });
                                });
                            </script>
                            <div class="row">
                                <div class="container">
                                    <select id="rows" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <option>Редове</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <select id="cols" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                        <option>Колони</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                    <button id="generate" type="submit" class="btn btn-primary">Напред</button>
                                </div>
                                <br />
                                <table id="matrix"></table>

                                <script>
                                    $(document).ready(function () {

                                        String.prototype.repeat = function (n) {
                                            return new Array(n + 1).join(this);
                                        }

                                        $('#generate').click(function () {
                                            $('table').empty();
                                            var col = parseInt($('#rows').val());
                                            var row = parseInt($('#cols').val());
                                            var head = "<th></th>".repeat(row);
                                            var tableHead = "<tr>" + head + "</tr>"
                                            var tableData = "<td><input type='text' class='form-control'/></td>".repeat(row);
                                            var tableRow = "<tr>" + tableData + "</tr>";
                                            var table = tableRow;

                                            $('#matrix').append(tableHead);

                                            for (i = 0; i < col; i++) {
                                                $('#matrix tr:last').after(table);
                                            }
                                        });
                                    })
                                </script>

                                <br />
                                <button type="submit" class="btn btn-primary">Напред</button>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-xs-right">
                    <div class="panel panel-info">
                        <div class="panel-heading">Резултат</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="comment">Спектърът на кода:</label>
                                <textarea class="form-control" rows="9" id="comment"></textarea>
                            </div>
                            <a href="#" class="btn btn-info btn-lg">
                                <span class="glyphicon glyphicon-download-alt"></span> Download
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->
    <!-- Footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; 2015 Template by <a href="http://graphberry.com" target="_blank">GraphBerry</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end  -->
    <!-- Load jQuery -->
    <script type="text/javascript" src="~/scripts/jquery-1.11.2.min.js"></script>
    <!-- Load Booststrap -->
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/smooth-scroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Load custom js for theme -->
    <script type="text/javascript" src="~/scripts/app.js"></script>
</body>
</html>
