
@{
    ViewBag.Title = "ShortDetails";
    Layout = null;
}

<div class="project" style="margin-right:2.5%;">
    <div class="row">
        <div class="col-md-6">
            <img src="../Content/IMG/DM.png" class="img-responsive" style="padding-top:25%; padding-left:3%;">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Декодер на мегит</h3>
            <p align="justify">
                Даден е [n, k] цикличен код С над полето Fq с пораждащ полином g(x). Съставя се съкратената 
                таблица на синдромите, в която участват синдромите на тези класове. Всяка кодова дума се дели без остатък на кодовия полином g(x). Думите, които 
                имат едни и същи остатъци при делене на g(x) принадлежат на едно и също комножество. Синдромът S(x) 
                на съседен клас a(x) + C е равен на остатъка от делението на полинома на лидера a(x) на g(x).
            </p>
            <a id="MeggittTheory" href="~/Meggitt/Theory" class="btn btn-primary">Теория</a>
            <a id="MeggittExample" href="~/Meggitt/Example" class="btn btn-primary">Пример</a>
            <br />
            <br />
        </div>
    </div>
</div>


