
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
    .service-item .icon {
        border: 1px #b3b3b3 solid;
        margin: 0 auto;
        border-radius: 100%;
        width: 110px;
        height: 110px;
        display: block;
        margin-bottom: 60px;
    }

        .service-item .icon i {
            line-height: 110px;
            font-size: 45px;
            color: #2d63c3;
        }

        .service-item .icon:hover {
            background-color: #2d63c3;
            border-color: #2d63c3;
        }

            .service-item .icon:hover i {
                color: #fff;
            }
</style>*@

<div class="jumbotron home home-fullscreen" id="home">
    <div class="mask"></div>
    <a href="#" class="logo">
        <img src="~/Content/IMG/96x96.png" alt="Moderno - Theme by GraphBerry.com">
    </a>
    <!-- Offsite navigation -->
    <div class="container">
        <div class="header-info">
            <h1>ШУМОЗАЩИТНО КОДИРАНЕ</h1>
            <p>
                кодиране на информацията с цел с запазването и при предаването в каналите за връзка.
            </p>
            <a href="/Coding/Coding" class="btn btn-primary">ОЩЕ>></a>
        </div>
    </div>
</div>
<!-- Services section start -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/ShanonFano/Questions"><i class="fa fa-comments-o"></i></a></div>
                    <h3>Метод на Шенън-Фано</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/Hufman/Questions"><i class="fa fa-comments"></i></a></div>
                    <h3>Метод на Хъфман</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/LinearCodes/Questions"><i class="fa fa-comments-o"></i></a></div>
                    <h3>Спектър на линеен код</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/SystematicForm/Questions"><i class="fa fa-comments"></i></a></div>
                    <h3>Систематична форма</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/SystematicallyDecoding/Questions"><i class="fa fa-comments-o"></i></a></div>
                    <h3>Систематично декодиране</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/Hemming/Questions"><i class="fa fa-comments"></i></a></div>
                    <h3>Декодиране с код на Хеминг</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/Meggitt/Questions"><i class="fa fa-comments-o"></i></a></div>
                    <h3>Декодер на Мегит</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="~/ReedMuller/Questions"><i class="fa fa-comments"></i></a></div>
                    <h3>Кодове на Рийд Мулер</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <div class="icon"><a href="#"><i class="fa fa-comments-o"></i></a></div>
                    <h3>Административни въпроси</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->
<!-- Footer start -->
