
@{
    ViewBag.Title = "ShortDetails";
    Layout = null;
}

<div class="project" style="margin-right:2.5%;">
    <div class="row">
        <div class="col-md-6">
            <img src="../Content/IMG/RM.png" class="img-responsive" style="padding-top:30%; padding-left:3%;">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Кодове на Рийд-Малер</h3>
            <p align="justify">
                Снимки от планетата Марс са първоначално направени от Mariner сериите от космически кораби през 60-те и ранните 70-те години,
                като  е  използван Reed-Muller код с брой на кодовите думи 5 от  първи  ред с дължина 32, за  да  се  получат  снимки  с
                добро  качество. Оригиналните  черно-бели снимки взети от по-ранни космически кораби Mariners са представени, като
                200 x 200 картинни елемента. На всеки елемент е определена двоична 6-орка, представлявайки едно от 64 възможни нива за яркост
                например от 000000 за бяло до 111111 за черно. По-късно това разпределение е направено по-точно, като се използват 700 x 832 елемента.
            </p>
            
            <a id="ReedMullerTheory" href="~/ReedMuller/Theory" class="btn btn-primary">Теория</a>
            <a id="ReedMullerExample" href="~/ReedMuller/Example" class="btn btn-primary">Пример</a>
            <br />
            <br />
        </div>
    </div>
</div>

