
@{
    ViewBag.Title = "SystematicallyDecodingTheory";
}

<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moredno Html theme by GraphBerry.com</title>

    <!-- Load fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../Content/style.css" />

</head>
<body>
    <div class="jumbotron home home-fullscreen" id="home">
        <div class="mask"></div>
        <a href="#" class="logo">
            <img src="~/Content/IMG/96x96.png" alt="Moderno - Theme by GraphBerry.com">
        </a>
        <!-- Offsite navigation -->
        <div class="container">
            <div class="header-info">
                <h1>ШУМОЗАЩИТНО КОДИРАНЕ</h1>
                <p>
                    кодиране на информацията с цел с запазването и при предаването в каналите за връзка.
                </p>
                <a href="/Coding/Coding" class="btn btn-primary">ОЩЕ>></a>
            </div>
        </div>
    </div>
    <!-- Services section start -->
    <!-- Services section end -->
    <!-- Portfolio section start -->
    <section id="portfolio" class="darker">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Систематично декодиране</h2>
                    <p>  Basic panel example  </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact section end -->
    <!-- Footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; 2015 Template by <a href="http://graphberry.com" target="_blank">GraphBerry</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end  -->
    <!-- Load jQuery -->
    <script type="text/javascript" src="~/scripts/jquery-1.11.2.min.js"></script>
    <!-- Load Booststrap -->
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/scripts/smooth-scroll.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <!-- Load custom js for theme -->
    <script type="text/javascript" src="~/scripts/app.js"></script>
</body>
</html>


