
@{
    ViewBag.Title = "ShortDetails";
    Layout = null;
}

<div class="project" style="margin-right:2.5%;">
    <div class="row">
        <div class="col-md-6">
            <img src="../Content/IMG/SD.png" class="img-responsive" style="padding-left:3%;">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Синдромно декодиране</h3>
            <p align="justify">
                Два вектора u и v се намират в едно комножество (съседно множество или клас) на С, т.и.с.к. те имат един и същ синдром.  
                Съществува взаимно-еднозначно съответствие между комножествата и синдромите.  При стандартното решетъчно декодиране, 
                ако n има малка стойност лесно се локализира приеманият вектор y в решетката. Но, ако n има голяма стойност, 
                трудно се открива лидерът на ко-множество, който съдържа y. 
            </p>
            <a id="SystematicallyDecodingTheory" href="~/SystematicallyDecoding/Theory" class="btn btn-primary">Теория</a>
            <a id="SystematicallyDecodingExample" href="~/SystematicallyDecoding/Example" class="btn btn-primary">Пример</a>
        </div>
    </div>
</div>

