
@{
    ViewBag.Title = "ShortDetails";
    Layout = null;
}

<div class="project" style="margin-right:2.5%;">
    <div class="row">
        <div class="col-md-6">
            <img src="../Content/IMG/IMG_29122016_194155 copy.png" class="img-responsive" style="padding-top:35%; padding-left:3%;">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Код на Шенън-Фано</h3>
            <p align="justify">

                Втората световна война дава силен тласък на развитието на кодирането във всяко едно от 
                трите основни направления: шумозащитно кодиране, криптиране и компресиране. Правят се 
                редица изследвания и теоретични разработки, като постепенно започва да си проправя път 
                идеята, че за ефективното кодиране на едно съобщение е достатъчно да се знае вероятността 
                на срещане на всеки от символите в него. По това време се достига и до идеята за използването 
                на двоичната бройна система като основа на кодиращия алгоритъм. Първият универсален ефективен 
                алгоритъм за побуквено кодиране е разработен от Клод Шенън и M. Фано (независимо един от друг). 
            </p> 
            <a id="ShanonFanoTheory" href="~/ShanonFano/Theory" class="btn btn-primary">Теория</a>
            <a id="ShanonFanoExample" href="~/ShanonFano/Example" class="btn btn-primary">Пример</a>
            <br/>
            <br />
        </div>
    </div>
</div>

