
@{
    ViewBag.Title = "Hufman";
}

<div class="project">
    <div class="row">
        <div class="col-md-6">
            <img src="img/projects/project-thumbnail-1.png" class="img-responsive">
        </div>
        <div class="col-md-6 project-info">
            <a href="javascript:void(0)" class="close" id="close-project"><i class="fa fa-close"></i></a>
            <h3>Код на Хъфман</h3>
            <p>
                ИНТРО
            </p>
            <a id="HufmanTheory" href="~/HufmanTheory/HufmanTheory" class="btn btn-primary">Теория</a>
            <a id="HufmanExample" href="~/HufmanExample/HufmanExample" class="btn btn-primary">Пример</a>
        </div>
    </div>
</div>
