
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<!--
 * A Design by GraphBerry
 * Author: GraphBerry
 * Author URL: http://graphberry.com
 * License: http://graphberry.com/pages/license
-->
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moredno Html theme by GraphBerry.com</title>

    <!-- Load fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>

    <!-- Load css styles -->
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="../Content/style.css" />

    @*<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@

</head>
<body>
    <div class="jumbotron home home-fullscreen" id="home">
        <div class="mask"></div>
        <a href="#" class="logo">
            <img src="~/Content/IMG/96x96.png" alt="Moderno - Theme by GraphBerry.com">
        </a>
        <a href="" class="menu-toggle" id="nav-expander"><i class="fa fa-bars"></i></a>
        <!-- Offsite navigation -->
        <nav class="menu">
            <a href="#" class="close"><i class="fa fa-close"></i></a>
            <h3>Меню</h3>
            <ul class="nav">
                <li><a data-scroll href="#home">Начало</a></li>
                <li><a data-scroll href="#services">Обслужване</a></li>
                <li><a data-scroll href="#portfolio">Приложение</a></li>
            </ul>
            <ul class="social-icons">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                <li><a href=""><i class="fa fa-behance"></i></a></li>
                <li><a href=""><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </nav>
        <div class="container">
            <div class="header-info">
                <h1>ШУМОЗАЩИТНО КОДИРАНЕ</h1>
                <p>
                    кодиране на информацията с цел с запазването и при предаването в каналите за връзка.
                </p>
                <a href="/Coding/Coding" class="btn btn-primary">ОЩЕ>></a>
            </div>
        </div>
    </div>
    <!-- Services section start -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon"><a href="#"><i class="fa fa-user-plus"></i></a></div>
                        <h3>Регистрация</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon"><a href="#"><i class="fa fa-user-secret"></i></a></div>
                        <h3>Вход</h3>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-item">
                        <div class="icon"><a href="~/Index/Questions"><i class="glyphicon glyphicon-question-sign"></i></a></div>
                        <h3>Въпроси</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section end -->
    <!-- Portfolio section start -->
    <section id="portfolio" class="darker">
        <div class="container">
            <header>
                <h2>Теоретично въведение</h2>
            </header>
            <div id="single-project"></div>
            <div class="row">
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Метод на Шенън-Фано" />
                    <figcaption class="mask">
                        <i id="ShanonFano" class="glyphicon glyphicon-plus">
                        </i>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Метод на Хъфман" />
                    <figcaption class="mask">
                        <a href="~/Views/_TestProject.cshtml">
                            <i id="Hufman" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Спектър на линеен код" />
                    <figcaption class="mask">
                        <i id="LinearCodes" class="glyphicon glyphicon-plus"></i>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Систематична форма, Гаус-Жордан и определяне на проверовъчна матрица" />
                    <figcaption class="mask">
                        <a href="~/Views/_TestProject.cshtml">
                            <i id="SystematicForm" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Систематично декодиране" />
                    <figcaption class="mask">
                        <a href="~/Views/_TestProject.cshtml">
                            <i id="SystematicallyDecoding" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Декодиране с код на Хеминг" />
                    <figcaption class="mask">
                        <a href="~/Views/_TestProject.cshtml">
                            <i id="Hemming" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Декодер на Мегит" />
                    <figcaption class="mask">
                        <a href="projects/project-1.html">
                            <i id="Meggitt" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
                <figure class="portfolio-item col-md-4 col-sm-6">
                    <img class="img-responsive" src="img/projects/project-thumbnail-1.png" alt="Кодове на Рийд Мулер" />
                    <figcaption class="mask">
                        <a href="projects/project-1.html">
                            <i id="ReedMuller" class="glyphicon glyphicon-plus"></i>
                        </a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <!-- Contact section end -->
    <!-- Footer start -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p>&copy; 2015 Template by <a href="http://graphberry.com" target="_blank">GraphBerry</a></p>
                </div>
                <div class="col-md-4">
                    <ul class="social-icons">
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                        <li><a href=""><i class="fa fa-behance"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end  -->
    <!-- Load jQuery -->
    <script type="text/javascript" src="~/scripts/jquery-1.11.2.min.js"></script>

    <!-- Load Booststrap -->
    <script type="text/javascript" src="~/scripts/bootstrap.js"></script>

    <script type="text/javascript" src="~/scripts/smooth-scroll.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

    <!-- Load custom js for theme -->
    <script type="text/javascript" src="~/scripts/app.js"></script>
</body>
</html>
